/* *reset* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* summary */
    --Light-red:hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /* gredients */
    --Light-slate-blue-background: hsl(252, 100%, 67%);
    --Light-royalbluebackground: hsl(241, 81%, 54%);

    --circle-top: hsla(256, 72%, 46%, 1);
    --circle-botttom: hsla(241, 72%, 46%, 0);

    /* neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-grayblue: hsl(224, 30%, 27%);

    /* font */
    font-size: 16px;

    /* padding */
    padding-left: 0;
}

body {
    font-family: 'Hanken Grotesk';
}

.container {
    display: flex;
    justify-content: center;
    align-items:center ;
    min-height: 100vh;
    min-width: 580px;
}

.card {
    display: flex;
    border-radius: 20px;
    box-shadow:5px 5px 10px 0px #EBF1FF;
}

.div-container-1 {
    background-image: linear-gradient(hsl(252, 100%, 67%),
    hsl(241, 81%, 54%));
    border-radius: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    flex-shrink: 0;
    /* width: 50%; */
}

h1 {
    font-size:1rem ;
    font-weight:bold;
    line-height:2rem;
    opacity: 60%;
}

.small {
    opacity: 0.5;
    font-size: 13.275px;
    font-style: normal;
    font-weight: 500;
    line-height: 4;
}

.number {
    font-size: 50px;
    font-weight: 700;
    line-height: 2rem;
}

.circle {
    border: 1px;
    border-radius: 50%;
    background-image:linear-gradient(var(--circle-top),var(--circle-botttom));
    width: 130px;
    height: 130px;
    padding: 30px;
    padding-top: 40px;
}

.great {
    font-size:22.67px;
    font-weight: 500;
    line-height: 27.43px;
    margin-top: 10px;
}

.text {
    opacity: 60%;
    font-size: 16.734px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FEFEFF;
    padding: 7px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.div-container-2 {
    display: flex;
    flex-direction:column ;
    text-align: center;
    background-color:var(--White);
    border-radius: 20px;
    padding: 1.5rem;
    flex-shrink: 0;
    /* width: 50%; */
}

.summary {
    color:var(--Dark-grayblue) ;
    font-weight: 700;
    display: flex;
}

.grade , .percent {
   margin-top: 5px;
}

h6 {
    padding: 10px;
    font-size: 16.543px;
}

.red-1 {
    color: var(--Light-red);
}

.yellow-2 {
    color:var(--Orangey-yellow);
}

.green-3 {
    color: var(--Green-teal);
}

.magenta-4 {
    color:var(--Cobalt-blue);
}

.grade {
    color:#343434;
    margin-left: 70px;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 5px;
    row-gap: 14px; 
}

p .grade {
    font-weight: 700;
    color: black;
}

li {
    display: flex;
    padding: 1px;
}

.li-1 {
    background-color:hsl(6deg 100% 98.04%);
    border: 1px;
    border-radius: 8px;
}

.li-2 {
    background-color:hsl(41.54deg 100% 97.45%);
    border: 1px;
    border-radius: 8px;
}

.li-3 {
    background-color:hsl(173.33deg 52.94% 96.67%);
    border: 1px;
    border-radius: 8px;
}

.li-4{
    background-color:hsl(240deg 71.43% 97.25%);
    border: 1px;
    border-radius: 8px;
}

.percent {
    color :#a9a9a9;
}

a {
    text-decoration: none;
    background-color:var(--Dark-grayblue);
    color :hsl(221, 100%, 96%);
    padding: 7px;
    align-items: stretch;
    border-radius: 20px;
    font-size: small;
    font-weight: bold;
    display: block;
    text-align:center;
}

a:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%),
    hsl(241, 81%, 54%));
}
/* desktop design end */

/* mobile design start */

@media screen and (max-width:600px) {

    body {
        padding: 0;
    }

    .card {
        display:block;
        justify-content: none;
        margin: 0;
    }

    /* .container-2 {
        border-top-right-radius: none;
        border-bottom-right-radius:none ;
    } */


    
}